@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TomTom File Informatie NL</h1>
    <p class="lead">
        This Web Application is developed whith ASP.NET using MVC (Model View Controller) pattern and EF6 (Entity Framework)<br />
        I have also used "Code First" WorkFlow: I wrote the Model Classes first, without having an existing DataBase.<br />
        The DataBase will be generated automatically according to the Classes.<br />
        Beside <strong>"Code First"</strong> WorkFlow in <strong>ASP.NET</strong> there are two more WorkFlows: <strong>"DataBase First"</strong> <br />
        and <strong>"Model First"</strong>
    </p>

</div>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>